@{
    ViewBag.Title = "Home Page";
}

@*<input type="hidden" id="hd_path" value="@ViewBag.path"/>*@
<input type="hidden" id="hd_path" value="@ViewBag.path" />
<input type="hidden" id="hd_district" value="@Session["District"]" />
<input type="hidden" id="hd_userLogin" value="@Session["Nrp"]" />
<input type="hidden" id="hd_idProfile" value="@Session["IdProfile"]" />

<style>
    .img_center {
        text-align: center;
    }
</style>
<main id="main-container">
    <div class="content">
        <!-- Rounded Blocks -->
        @*<h2 class="content-heading">Filter Tanggal</h2>*@
        <!--<div class="row">
            <!-- fillter -->
            <!--<div class="col-md-12">
                <div class="block block-rounded block-bordered">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">Fillter Tanggal</h3>
                    </div>
                    <div class="block-content">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="form-label">Tanggal Awal</label>
                            </div>
                            <div class="col-md-4">
                                <input type="date" class="form-control" id="txt_tanggalAwal" style="width:40%" />
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Tanggal Akhir</label>
                            </div>
                            <div class="col-md-4">
                                <input type="date" class="form-control" id="txt_tanggalAkhir" style="width:40%" />
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="block-content block-content-full block-content-sm bg-body-light text-end">
                        <button type="submit" class="btn btn-alt-primary" onclick="fillter()">
                            <i class="fa fa-check opacity-50 me-1"></i> Fillter
                        </button>
                    </div>
                </div>
            </div>-->
            <!--upload image-->
            <!--<div class="col-md-6">
                <div class="block block-rounded block-bordered">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">CGV in ROM</h3>
                    </div>
                    <div class="block-content">
                        <button type="button" class="btn btn-alt-primary" data-bs-toggle="modal" data-bs-target="#modal-fadein">Update Image</button>
                        <div class="img_center" id="DisplayImage">
                            <img id="img_cgv" class="img-responsive thumbnail" width="320" height="320" />
                        </div>
                        <div class="row">
                            <div class="col-md-3" style="text-align:center">
                                <lable id="tonase"></lable><br />
                                <lable style="color:red"><b>Tonase</b></lable>
                            </div>
                            <div class="col-md-3" style="text-align:center">
                                <lable id="grade_a"></lable><br />
                                <lable style="color:blue"><b>Grade A</b></lable>
                            </div>
                            <div class="col-md-3" style="text-align:center">
                                <lable id="grade_b"></lable><br />
                                <lable style="color:green"><b>Grade B</b></lable>
                            </div>
                            <div class="col-md-3" style="text-align:center">
                                <lable id="grade_c"></lable><br />
                                <lable style="color:chocolate"><b>Grade C</b></lable>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>-->

            <!--in out rom-->
            <!--<div class="col-md-6">
                <div class="block block-rounded block-bordered">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">In Out ROM</h3>
                    </div>
                    <div class="block-content">
                        <div id="gridInOutRom"></div>
                        <br />
                    </div>
                </div>
            </div>-->
            <!--anomali data-->
            <!--<div class="col-md-6">
                <div class="block block-rounded block-bordered">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">Anomali Data</h3>
                    </div>
                    <div class="block-content">
                        <div id="gridAnomaliInSitu"></div>
                        <br />
                    </div>
                </div>
            </div>-->
            <!--in situ-->
            <!--<div class="col-md-6">
                <div class="block block-rounded block-bordered">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">In SITU (GCV | Ton)</h3>
                    </div>
                    <div class="block-content">
                        <div id="gridInSitu"></div>
                        <br />
                    </div>
                </div>
            </div>-->
            <!-- grafik -->
            <!--<div class="col-md-12">
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">Donut</h3>
                    </div>
                    <div class="block-content">
                        <div class="col-md-6">-->
                            @*<div class="row">*@
                            <!--<div class="col-6 col-xl-12">
                                <div class="block block-rounded block-link-shadow text-end" style="background-color: #D0D3D4 ">
                                    <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">
                                        <div class="d-none d-sm-block">
                                            <i class="fa fa-barcode fa-2x"></i>
                                        </div>
                                        <div>
                                            <div class="fs-3 fw-normal" id="sumproductGar"></div>
                                            <div class="fs-xs fw-normal text-uppercase">Total Sumproduct GAR</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-xl-12">
                                <div class="block block-rounded block-link-shadow text-end" style="background-color: #D0D3D4 ">
                                    <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">
                                        <div class="d-none d-sm-block">
                                            <i class="fa fa-suitcase fa-2x"></i>
                                        </div>
                                        <div>
                                            <div class="fs-3 fw-normal" id="total_tonase"></div>
                                            <div class="fs-xs fw-normal text-uppercase">Total Tonase in ROM</div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            @*</div>*@
                        <!--</div>
                        <div class="col-md-6">
                            <canvas id="gradeInRom"></canvas>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <!-- END grafik -->
            <!-- Request Coal -->
            <!--<div class="col-md-12">
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">Request Table</h3>
                    </div>
                    <div class="block-content">
                        <div id="gridRequestCoalApproval"></div>
                        <br />
                    </div>
                </div>-->
                <!-- END Request Coal -->
            <!--</div>
        </div>-->
        <!-- END Rounded Blocks -->

        <!-- COPY DARI SINI -->
        <div class="row">
            <div class="col-xl-4">
                <!-- Instructor -->
                <a class="block block-rounded block-bordered">
                    <div class="block-header block-header-default border-bottom">
                        <h3 class="block-title">Grade dan Tonase In ROM</h3>
                    </div>
                    <div class="block-content">
                        <div class="col-6 col-xl-12">
                            <div class="block block-rounded block-link-shadow text-end" style="background-color: #D0D3D4 ">
                                <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">
                                    <div class="d-none d-sm-block">
                                        <i class="fa fa-barcode fa-2x"></i>
                                    </div>
                                    <div>
                                        <div class="fs-3 fw-normal" id="sumproductGar"></div>
                                        <div class="fs-xs fw-normal text-uppercase">Total Sumproduct GAR</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-xl-12">
                            <div class="block block-rounded block-link-shadow text-end" style="background-color: #D0D3D4 ">
                                <div class="block-content block-content-full d-sm-flex justify-content-between align-items-center">
                                    <div class="d-none d-sm-block">
                                        <i class="fa fa-suitcase fa-2x"></i>
                                    </div>
                                    <div>
                                        <div class="fs-3 fw-normal" id="total_tonase"></div>
                                        <div class="fs-xs fw-normal text-uppercase">Total Tonase in ROM</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block-header block-header-default border-bottom">
                        <h3 class="block-title">Persentase Grade In ROM</h3>
                    </div>
                    <div class="block-content">
                        @*<p>CHART</p>*@
                        <canvas id="gradeInRom"></canvas>
                    </div>
                </a>
            </div>

            <div class="col-xl-4">
                <!-- Instructor -->
                <a class="block block-rounded block-bordered">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">CGV In ROM</h3>
                    </div>
                    <div class="block-content">
                        <button type="button" class="btn btn-alt-primary" data-bs-toggle="modal" data-bs-target="#modal-fadein">Update Image</button>
                        <div class="img_center" id="DisplayImage">
                            <img id="img_cgv" class="img-responsive thumbnail" width="320" height="320" />
                        </div>
                        <div class="row">
                            <div class="col-md-3" style="text-align:center">
                                <lable id="tonase"></lable><br />
                                <lable style="color:red"><b>Tonase</b></lable>
                            </div>
                            <div class="col-md-3" style="text-align:center">
                                <lable id="grade_a"></lable><br />
                                <lable style="color:blue"><b>Grade A</b></lable>
                            </div>
                            <div class="col-md-3" style="text-align:center">
                                <lable id="grade_b"></lable><br />
                                <lable style="color:green"><b>Grade B</b></lable>
                            </div>
                            <div class="col-md-3" style="text-align:center">
                                <lable id="grade_c"></lable><br />
                                <lable style="color:yellow"><b>Grade C</b></lable>
                            </div>
                        </div>
                        <br />
                    </div>
                </a>
                <!-- END Instructor -->
                <!-- Instructor -->
                <a class="block block-rounded block-bordered">
                    <div class="block-header block-header-default border-bottom">
                        <h3 class="block-title">Anomali Data</h3>
                    </div>
                    <div class="block-content">
                        <div id="gridAnomaliInSitu"></div>
                        <br />
                    </div>
                </a>
                <!-- END Instructor -->
            </div>

            <div class="col-xl-4">
                <!-- Subscribe -->
                <div class="mb-4">
                    <div class="input-daterange input-group" data-date-format="mm/dd/yyyy" data-week-start="1" data-autoclose="true" data-today-highlight="true">
                        @*<input type="text" class="form-control" id="example-daterange1" name="example-daterange1" placeholder="From" data-week-start="1" data-autoclose="true" data-today-highlight="true">*@
                        <input type="date" class="form-control" id="txt_tanggalAwal" name="example-daterange1" placeholder="From" data-week-start="1" data-autoclose="true" data-today-highlight="true" />

                        @*<input type="text" class="form-control" id="example-daterange2" name="example-daterange2" placeholder="To" data-week-start="1" data-autoclose="true" data-today-highlight="true">*@
                        <input type="date" class="form-control" id="txt_tanggalAkhir" name="example-daterange2" placeholder="To" data-week-start="1" data-autoclose="true" data-today-highlight="true" />

                        <span class="input-group-text fw-semibold" typeof="submit" onclick="fillter()">
                            <i class="fa fa-fw fa-arrow-down"></i>
                        </span>
                        @*<div class="block-content block-content-full block-content-sm bg-body-light text-end">
                            <button type="submit" class="btn btn-alt-primary" onclick="fillter()">
                                <i class="fa fa-check opacity-50 me-1"></i> Fillter
                            </button>
                        </div>*@
                    </div>
                </div>
                <!-- END Subscribe -->
                <!-- Instructor -->
                <a class="block block-rounded block-bordered">
                    <div class="block-header block-header-default border-bottom">
                        <h3 class="block-title">In Out ROM (GCV | Ton)</h3>
                    </div>
                    <div class="block-content">
                        <div id="gridInOutRom"></div>
                        <br />
                    </div>

                    <div class="block-header block-header-default border-bottom">
                        <h3 class="block-title">In Situ (GCV | Ton)</h3>
                    </div>
                    <div class="block-content">
                        <div id="gridInSitu"></div>
                        <br />
                        @*<table class="table table-bordered table-striped table-vcenter js-dataTable-simple">
                            
                            <tbody>
                                <tr>
                                    <td class="fw-semibold">Justin Hunt</td>
                                    <td class="d-none d-sm-table-cell">customer1@example.com</td>
                                </tr>
                            </tbody>
                        </table>*@
                    </div>
                </a>
            </div>
            <div class="col-md-12">
                <div class="block block-rounded">
                    <div class="block-header block-header-default">
                        <h3 class="block-title">Request Table</h3>
                    </div>
                    <div class="block-content">
                        <div id="gridRequestCoalApproval"></div>
                        <br />
                    </div>
                </div>
                <!-- END Request Coal -->
            </div>
        </div>
        <!-- SAMPE SINI -->
    </div>
</main>

<!-- Fade In Modal -->
<div class="modal fade" id="modal-fadein" tabindex="-1" role="dialog" aria-labelledby="modal-fadein" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="block block-rounded shadow-none mb-0">
                <div class="block-header block-header-default">
                    <h3 class="block-title">Modals Upload Image</h3>
                    <div class="block-options">
                        <button type="button" class="btn-block-option" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="block-content fs-sm">
                    <div class="col-md-4">
                        <input type="file" id="SelectImage" /><br />
                        <a href="#" class="btn btn-sm btn-danger" onclick="UploadImage()">Upload</a>
                    </div>
                </div>
                <div class="block-content block-content-full block-content-sm text-end border-top">
                    <button type="button" class="btn btn-alt-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-alt-primary" data-bs-dismiss="modal">
                        Done
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Fade In Modal -->

<script type="text/x-kendo-tmpl" id="tmp_inSitu">
    #if(COAL_CONDITION == "Normal"){#
        <center><b style="color:green">#=IN_SITU#</b></center>
    #} else{#
        <center><b style="color:red">#=IN_SITU#</b></center>
    #}#
</script>

<script type="text/x-kendo-tmpl" id="tmp_AnomaliInSitu">
    <center><b style="color:red">#=IN_SITU#</b></center>
</script>
<script type="text/x-kendo-tmpl" id="tmp_AnomaliAction">
    <button type="button" class="btn btn-alt-success" onclick="anomaliApprove('#=ID_IN_SITU#')"><i class="fa fa-circle-check"></i></button>
    <button type="button" class="btn btn-alt-danger" onclick="anomaliReject('#=ID_IN_SITU#')"><i class="fa fa-circle-xmark"></i></button>
</script>

<script type="text/x-kendo-tmpl" id="tmp_InOutRom">
    #if(ROM == "in"){#
        <center><b style="color:green">#=IN_SITU_ROM#</b></center>
    #} else{#
        <center><b style="color:red">#=IN_SITU_ROM#</b></center>
    #}#
</script>

@*<script type="text/x-kendo-tmpl" id="tmp_RequestCoalApproval">
        <center><b style="color:green">#=REQUEST_COAL#</b></center>
    </script>*@
<script type="text/x-kendo-tmpl" id="tmp_RequestCoalAction">
    <button type="button" class="btn btn-alt-primary" onclick="requestApprove('#=ID#')">Close</button>
    @*<button type="button" class="btn btn-alt-danger" onclick="anomaliReject('#=ID_IN_SITU#')"><i class="fa fa-circle-xmark"></i></button>*@
</script>

<script src="~/Content/chart.js/Chart.bundle.js"></script>
<script src="~/Content/chart.js/Chart.js"></script>
<script src="~/Js/Home.Index.js"></script>